body{
	background: #efefef;
	margin: 0;
}

/*Swiper slider stylesheet*/
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	max-height: 45vh;
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*General styles*/
.container{
	width: 1280px;
	max-width: 100%;
	margin: 0 auto;
}


/*Navbar*/

nav#navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 60px;
	padding: 15px 0;
}

div#nav-profile img {
	width: 48px;
	height: 48px;
	border: 2px solid #000;
	border-radius: 40px;
	object-fit: cover;
	margin-right: 16px;
}

div#nav-logo {
	width: 50%;
	display: flex;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

span#triangle-dropdown {
    transition: 0.3s linear;
}

ul#drop-down-profile-menu {
	position: absolute;
	top: 40px;
	z-index: 9999;
	background: #fff;
	width: 150px;
	border: 0;
	border-radius: 5px;
	right: 0;
	padding: 0;
	list-style: none;
	transition: 0.3s linear !important;
	height: 0px;
	font-size: 0;
}

div#nav-profile {
	position: relative;
	width: 20%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;
	transition: 0.3s linear;
}

span#profile-presentation {
	font-size: 14px;
	color: #000000;
	font-weight: lighter;
}

div#nav-search-field {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#nav-search-field input {
	height: 38px;
	border: 1.5px solid #000;
	border-radius: 20px;
	background: #efefef;
	text-indent: 12px;
	width: 80%;
}

div#nav-profile:hover #drop-down-profile-menu {
	height: 65px !important;
	position: absolute;
	top: 45px;
	z-index: 9999;
	background: #fff;
	width: 150px;
	border: 2px solid gray;
	border-radius: 5px;
	right: 0;
	padding: 10px;
	font-size:18px
}

ul#drop-down-profile-menu li a {
	color: #000;
	text-decoration: none;
}

ul#drop-down-profile-menu li {
	margin: 7px 0 5px 0;
}

div#nav-profile:hover #triangle-dropdown {
	transform: rotate(180deg);
	transition: 0.3s linear;
}

/*Courses*/
h1#courses-title {
	margin: 40px 0px 40px 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid;
	color: #545454;
}

.course-card {
	margin-right: 30px;
	width: 290px;
	height: 401px;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 40px;
	box-shadow: 0px 2px 5px;
}

.course-img img {
	object-fit: contain !important;
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.course-desc {
	padding: 10px;
}

.course-view-more-button {
	text-align: center;
	background: #01A02A;
	color: #fff;
	padding: 15px;
	border-radius: 30px;
	width: 80%;
	margin: 0 auto;
	height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	cursor: pointer;
}

div#courses-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.add-course-card {
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent !important;
	border: 4px dashed #9f9f9f;
	box-shadow: none;

}

.add-course-card button {
	cursor: pointer;
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	color: #a0a0a0;
	font-weight: bold;
}

/*Footer*/

div#footer-content {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    align-items: flex-start;
}

div#footer-logo {
    width: 60%;
}

div#footer-background {
    background: #fff !important;
}

div#footer-contact h4, div#footer-social-media h4 {
    margin-top: 0;
}

div#footer-contact a {
    display: inline-block;
    width: 100%;
    color: #999999;
    margin-bottom: 5px;
    text-decoration: none;
}

div#footer-contact {
    width: 20%;
}

div#footer-social-media {
    width: 20%;
}

div#footer-social-media-itens a {
    text-decoration: none;
    margin-right: 15px;
}

div#credits {
    height: 60px;
    display: flex;
    align-items: center;
    color: #9A9A9A;
    font-size: 18px;
}

/*Modal*/

div.modal {
	display: none;
    position: fixed;
    background: rgba(1,1,1,0.5);
    z-index: 999999;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.modal-base {
    height: 630px;
    background: #fff;
    width: 800px;
    margin: 90px auto;
    position: relative;
    border-radius: 5px;
}

button.close-modal {
	cursor: pointer;
    position: absolute;
    right: -30px;
    margin-top: -25px;
    background: #fff;
    border: 1px solid;
    width: 65px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 100%;
}

.modal-img-presentation img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.modal-img-presentation {
    height: 200px;
}

.modal-briefing {
    text-align: center;
    padding: 0px 70px;
}

.modal-briefing h2 {
    font-size: 28px;
}

.modal-briefing p {
    font-size: 18px;
}

.modal-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button.btn-modal {
    width: 40%;
    border: none;
    height: 40px;
    background: #1da2da;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}